{% extends "base.html" %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center"></h5>
        <table class="profile_table mb-4">
            <tbody>
                
                <h1>登録完了です</h1>


            </tbody>
        </table>

        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="">Modify</a>
        </div>
        <p>
        </p>
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="">Register</a>
        </div>
        
    </div>
</div>

{% endblock %}